.addIcon {
    height: 50px;
    width: 50px;
    color: #000;
    margin: 0 0 0 -5px; 
}

.cardContainer {
    padding: 0px 24px 12px 24px;
    margin: auto;
    max-width: 1100px;
}

.noteCard {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    background-color: #000;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.cardTitle {
    padding: 10px 12px 15px 15px;
    border-bottom: 1px solid #15cdfc;
}

.cardContent {
    padding: 15px 12px 15px 15px;
    border-bottom: 1px solid #15cdfc;
    line-height: 1.2;
}

.noteDate {
    text-align: end;
    padding: 10px 12px 0px 15px;
}

.date {
    color: #15cdfc;
}