/*--- Main Card Container ---*/
.cardMain {
    background-color: #000;
    color: white;
    padding: 6px 6px 1px 6px;
    border-radius: 8px;
}

.headerDate {
    font-size: 24px;
    font-family: sans-serif;
}

@media screen and (max-width: 280px) {
    .cardTitle {
        font-size: 18px;
        padding-bottom: 5px;
    }
}



/*--- New Note Card ---*/
.addCard {
    max-width: 1100px;
    background-color: black;
    color: white;
    border: 1px solid #15cdfc;
    border-radius: 10px;
    padding: 10px;
    margin: 6px 6px 12px 6px;
}

.addNoteForm {
    display: flex;
    flex-direction: column;
}

.addNoteHeader {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 6px 0px;
    align-items: center;
}

.title {
    width: 50%;
    height: 25px;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-family: sans-serif;
    padding: 0px 5px;
}

.content {
    height: 25px;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
    min-height: 60px;
    font-family: sans-serif;
    padding: 5px 5px;
}

.content::-webkit-scrollbar {
    width: 0px;
}

.addNoteBtnsMobile {
    display: none;
}

/*--- Alert ---*/
.alert {
    font-family: sans-serif;
    margin: 0px 5px 12px 5px;
    padding: 20px 20px;

}

/*--- Individual Cards ---*/
.cardContainer {
    margin: auto;
    max-width: 1100px;
}

.noNotes {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 6px;
    font-size: 18px;
}

.noteCard, .noteCardOpen {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 6px 6px 12px 6px;
}

.noteCard:hover {
    border: 1px solid #15cdfc;
}

.noteCardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7px;
    background-color: rgb(9, 9, 9);
    border-radius: 5px;
}

.openHeader {
    margin-bottom: 10px;
}

.titleContainer, .closedTitleContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.closedTitle {
    display: flex;
    align-items: center;
}

.mobileDateContainer {
    display: none;
    margin-top: 5px;
}

.noteIcon {
    height: 32px;
    width: 20px;
    margin-right: 10px;
}

.noteTitle {
    font-family: sans-serif;
    font-size: 16px;
    margin-right: 10px;
}

.noteBorder {
    border-top: 1px solid #15cdfc;
    border-bottom: 1px solid #15cdfc;
    padding: 10px 0px;
}

.noteContent {
    font-family: sans-serif;
    font-size: 14px;
    min-height: 100px;
    line-height: 1.2;
    padding: 10px 7px;
    background-color: rgb(9, 9, 9);
    border-radius: 5px;
}

.noteBtns:hover {
    color: #15cdfc;
}

.closedNoteDate, .noteDate {
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-family: sans-serif;
}

.date {
    color: #15cdfc;
}

@media screen and (max-width: 415px) {
    .title {
        width: 100%;
    }

    .addNoteBtns {
        display: none;
    }

    .addNoteBtnsMobile {
        display: block;
        margin-top: 6px;
        text-align: right;
    }

    .noteCard {
        padding: 10px;
    }

    .noteCardHeader {
        display: block;
    }

    .editBtn, .deleteBtn {
        margin-bottom: 5px;
    }

    .noteContent {
        margin-bottom: 5px;
    }

    .noteDate {
        font-size: 12px;
    }
}

@media screen and (max-width: 540px) {
    .noteCardHeader {
        display: block;
    }

    .closedTitleContainer{
        display: flex;
        flex-direction: column;
    }

    .noteIcon {
        display: none;
    }

    .mobileDateContainer {
        display: block;
    }

    .mobileNoteDate {
        background-color: #000;
        padding: 5px;
        border-radius: 5px;
        font-size: 10px;
        font-family: sans-serif;
    }

    .closedNoteDate {
        display: none;
    }

}


/*--- Buttons ---*/
.addBtn {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.addBtn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.saveBtn {
    background-color: #000;
    color: green;
    border: 1px solid green;
    border-radius: 10px;
    cursor: pointer;
}

.saveBtn:hover {
    background-color: green;
    color: black;
    border: 1px solid black;
}

.cancelBtn {
    background-color: #000;
    color: red;
    border: 1px solid red;
    border-radius: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.cancelBtn:hover {
    background-color: red;
    color: black;
    border: 1px solid black;
}

.noteInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px 7px;
    background-color: rgb(9, 9, 9);
    border-radius: 5px;
}

.noteBtnContainer {
    height: 17px;
}

.noteBtns {
    margin: 0 5px 0 3px;
    cursor: pointer;
    font-size: 17px;
}