.loginCard {
    border-radius: 5px;
    background-color: black;
    max-width: 280;
    height: 280px;
    padding: 20px;
}

.loginInfo {
    margin: 20px 0;
}

.loginTitle {
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin-bottom: 40px;
}

.loginEmail, .loginPassword {
    display: flex;
    width: 90%;
    margin: 20px auto;
    padding: 6px;
    border-radius: 5px;
    border: none;
    outline: none;
}

@media screen and (max-width: 540px) {
    .loginCard {
        width: 360px;
    }
}

@media screen and (max-width: 415px) {
    .loginCard {
        width: 300px;
    }
}

@media screen and (max-width: 380px) {
    .loginCard {
        width: 280px;
    }
}

@media screen and (max-width: 340px) {
    .loginCard {
        width: 180px;
    }
}