.loginCard {
    border-radius: 5px;
    background-color: black;
    width: 280px;
    height: 280px;
    padding: 20px;
}

.loginInfo {
    margin: 20px 0;
}

.loginTitle {
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin-bottom: 40px;
}

.loginEmail, .loginPassword {
    display: flex;
    width: 90%;
    margin: 20px auto;
    padding: 6px;
    border-radius: 5px;
    border: none;
    outline: none;
}
